body{
	font-family: 'Merriweather Sans', serif;
}
h2 {
 	margin-top: 25px;
	text-align: center;
	font-weight: 600;
	color:#e74c3e;
	padding-bottom: 30px;
}
/*for jumbotron and home*/
.jumbotron{

	text-align: center;
	padding-top: 5em;
	font-family: 'Josefin Slab', serif;
	color:white;
	background: #232526; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #232526 , #414345);
	margin-bottom: 0px;
}

#pic{
	-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;	
	
}
#home h4{
	font-weight: 100;
}


.jumbotron hr{
	padding-top: 40px;
	padding-bottom: 120px;
	width: 440px;

}
/*--------------for about me--------------*/
#about p {
	text-align: center;
	font-size: 18px;
	padding: 12px;
	font-weight: 100;
}
#about h2{
	padding-bottom: 10px;
	padding-top: 15px;
}

#about hr{
	border-color:#e74c3e;
	width:200px;
	margin-top: 0px;
	padding-bottom: 25px;
}

/*-----------for projects---------*/
#projects h3{
	color:#333;
	text-align: center;
}
#projects p{
	text-align: center;
	font-size: 14px;
}
#projects h2{
	padding-bottom: 10px;
	padding-top: 15px;
}
.secondprolist{
	padding-top: 10px;
	margin-top: 60px;
}
 
#projects hr{
	border-color:#e74c3e;
	width:200px;
	margin-top: 0px;
	padding-bottom: 25px;
}


#divider hr{
	border-color: black;
	
	width:600px;
}
strong{
	color:#e74c3e
}
/*------Footer--------*/
#foot{
text-align: center;
background: #e74c3e;
margin-top: 20px;
}
#foot h2{
	color:white;
	padding-bottom: 10px;
}
#foot hr{
	margin-top: 0px;
	padding-bottom: 25px;
	width: 200px;
}
#foot h4{
	color:white;
	padding-top: 60px;
	font-weight: 100;
}
#lastline{
	font-size: 15px;
	text-decoration: none;
	transition-duration : .5s;
	
}
#lastline:hover{ 
	text-decoration:underline;
	color:black;
}

.fa-stack{
	color:#333;
	padding-top: 5px;
/*	box-shadow: 0px 2px 0px 0px #333;*/
	transition-duration : .2s;

}
.fa-stack:hover{
	padding-top: 0px;
	border-bottom-color: black;
/*	box-shadow: 0px 5px 0px 0px black;*/
	color:black;

}

#CV{
	
	display: none;
}
.solo:hover + #CV{
	display:block;
	color:white;
}

